<mat-card appearance="outlined">
  <mat-card-title>Metadata-Settings</mat-card-title>
  <mat-card-content class="flex column gap-1" style="min-height: 48px">
    <mat-slide-toggle [checked]="useWebTags" (change)="onUseWebTagsChange($event)" labelPosition="before"
      >Use Last.FM and Musicbrainz to get Titles</mat-slide-toggle
    >
    <mat-slide-toggle #useTagPicsToggle [checked]="useTagEmbeddedPics" (change)="onUseTagEmbeddedPicsChange($event)" labelPosition="before"
      >Use Cover-Art from Id3-Tags</mat-slide-toggle
    >
    <mat-slide-toggle
      [disabled]="!useTagPicsToggle.checked"
      [checked]="preferTagEmbeddedPics"
      (change)="onPreferTagEmbeddedPicsChange($event)"
      labelPosition="before"
      >Prefer Cover-Art from Id3-Tags</mat-slide-toggle
    >
    <div class="flex row gap-1">
      <mat-slide-toggle [checked]="useTagsCache" (change)="onUseTagsCacheChange($event)" labelPosition="before">Use IndexedDB Cache</mat-slide-toggle>
      <button mat-flat-button style="height: 24px; padding: 0 4px; line-height: normal" color="accent" (click)="clearMetadataCache()">Clear Cache</button>
    </div>
  </mat-card-content>
</mat-card>
