<mat-list cdkDropList [cdkDropListDisabled]="isLoading | async" (cdkDropListDropped)="drop($event)" dense class="pl" *mobxAutorun>
  <mat-list-item
    cdkDrag
    *ngFor="let song of songs; let index = index; trackBy: playlistTrackFunction"
    [ngClass]="{ selected: isSelected(song) }"
    class="playlist-item"
    (dblclick)="playPauseSong($event, song)"
    (click)="selectSong(song)"
  >
    <span *cdkDragPreview></span>
    <div cdkDragHandle matListItemAvatar style="overflow: hidden; border-radius: 4px; position: relative; width: 50px; height: 50px">
      <img
        *ngIf="song && song.metadata && song.metadata.coverUrl"
        style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%"
        [src]="song.metadata.coverUrl.thumb | safe : 'resourceUrl'"
        loading="lazy"
      />
      <canvas
        *ngIf="(isPlaying$(song) | async) && visualMode !== 'off'"
        [mode]="'osc'"
        style="position: absolute; right: 0; bottom: 0; left: 0; width: 100%; height: 100%"
        [colorConfig]="colorConfig$ | async"
        [mtbVisual]="analyser"
        [oscConfig]="{ thickness: 2 }"
      ></canvas>
    </div>

    <h3 matListItemTitle style="font-size: 0.9rem; font-weight: bold">{{ song?.metadata?.title || song.file.name }}</h3>
    <p matListItemLine style="font-size: 0.8rem">{{ song?.metadata?.artist }}</p>

    <button *ngIf="isPlaying$(song) | async as playing" mat-icon-button (click)="playPauseSong($event, song)">
      <mat-icon *ngIf="!playing" class="accent-color" svgIcon="play-outline"></mat-icon>
      <mat-icon *ngIf="playing" class="accent-color" svgIcon="pause"></mat-icon>
    </button>
  </mat-list-item>
  <ng-content></ng-content>
</mat-list>
