<mat-form-field appearance="outline" style="width: 100%">
  <mat-icon matPrefix svgIcon="search"></mat-icon>
  <input matInput [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" />
  @if (searchTerm()) {
    <button matSuffix mat-icon-button (click)="searchTerm.set('')">
      <mat-icon svgIcon="close-thick"></mat-icon>
    </button>
  }
  <mat-hint>{{ filteredPlaylist().length }} entries</mat-hint>
</mat-form-field>

<ng-content />

<cdk-virtual-scroll-viewport #scrollViewport itemSize="72" class="playlist-viewport" style="height: 100%">
  <mat-list class="playlist">
    <mat-list-item
      *cdkVirtualFor="let song of filteredPlaylist(); trackBy: trackByCrc"
      style="height: 72px"
      class="playlist-item"
      [ngClass]="{ selected: this.playerService.selectedTrack()?.metadata?.crc === song.metadata.crc }"
      (dblclick)="playPauseSong($event, song)"
      (click)="playerService.selectSong(song)"
    >
      <div matListItemAvatar style="overflow: hidden; border-radius: 4px; position: relative; width: 50px; height: 50px">
        @if (song && song.metadata && song.metadata.coverUrl) {
          <!--suppress AngularNgOptimizedImage -->
          <img
            style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%"
            fill
            [src]="song.metadata.coverUrl.thumb | safe: 'resourceUrl'"
          />
        }
        @let songPlaying = isPlaying(song)();
        @if (songPlaying && visualsService.visualMode() !== 'off') {
          <canvas
            mtbVisual
            mode="osc"
            style="position: absolute; right: 0; bottom: 0; left: 0; width: 100%; height: 100%"
            [colorConfig]="playerService.colorConfig()"
            [oscConfig]="{ thickness: 2 }"
          ></canvas>
        }
      </div>

      <h3 matListItemTitle style="font-size: 0.9rem; font-weight: bold">{{ song?.metadata?.title || song.file.name }}</h3>
      <p matListItemLine style="font-size: 0.8rem">{{ song?.metadata?.artist }}</p>

      @if (isActive(song)()) {
        <button matListItemMeta mat-icon-button (click)="playPauseSong($event, song)">
          <mat-icon class="accent-color" [svgIcon]="songPlaying ? 'pause' : 'play-outline'"></mat-icon>
        </button>
      }
    </mat-list-item>
  </mat-list>
</cdk-virtual-scroll-viewport>
@if (metadataService.processionPercent() < 100) {
  <mat-progress-bar mode="determinate" [value]="metadataService.processionPercent()"></mat-progress-bar>
}
