@use 'pkg:@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include mat.elevation(6);

  @include mat.list-overrides(
    (
      list-item-two-line-container-height: 72px,
      list-item-leading-avatar-size: 50px
    )
  );
}

.playlist-viewport {
  height: 100%;
}

::ng-deep .playlist-item {
  box-sizing: border-box;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--theme-accent-100);
    cursor: pointer;
  }

  &.selected {
    background-color: var(--theme-accent-90);
    border-left: solid 4px var(--theme-primary-50);
  }

  .mdc-list-item__start {
    margin-top: 10px !important;
  }

  .mdc-list-item__end {
    margin-top: 16px !important;

    .mat-icon {
      vertical-align: top;
    }
  }
}

.playlist {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden auto;
}

.playlist-item-avatar {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.playlist-item-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playlist-item-visualizer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playlist-item-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.playlist-item-artist {
  font-size: 0.8rem;
}

.context-menu-trigger {
  display: none;
}
