<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon aria-label="Side nav toggle icon" svgIcon="radio" matIconSize="2.6rem" style="margin-right: 0.7rem;"></mat-icon>
      <span class="title">{{ title | async }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="closeSidenav()" routerLink="/player"><mat-icon mat-list-icon svgIcon="play-box"></mat-icon>&nbsp;Player</a>
      <a mat-list-item (click)="closeSidenav()" routerLink="/player/eq"><mat-icon mat-list-icon svgIcon="tune-vertical"></mat-icon>&nbsp;Equalizer</a>
      <a mat-list-item (click)="closeSidenav()" routerLink="/settings"><mat-icon mat-list-icon svgIcon="cog-outline"></mat-icon>&nbsp;Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: hidden;">
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button
        id="sidenav_menu_button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        style="margin-right: 0.5rem;"
      >
        <mat-icon aria-label="Side nav toggle icon" matIconSize="2.6rem" svgIcon="logo"></mat-icon>
      </button>
      <span class="title">{{ title | async }}</span>
      <mat-spinner *ngIf="isLoading | async" style="margin-left: 1rem;" color="accent" diameter="32" strokeWidth="6"></mat-spinner>
    </mat-toolbar>
    <div class="router-outlet"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
