<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <mat-toolbar color="primary">
      <mat-icon aria-label="Side nav toggle icon" svgIcon="radio" style="margin-right: 0.7rem" />
      <span class="title">{{ titleService.title() }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="navigateTo('/player')"> <mat-icon matListItemIcon svgIcon="record-player" /><span matListItemTitle> Player</span></mat-list-item>
      <mat-list-item (click)="navigateTo('/player/eq')">
        <mat-icon matListItemIcon svgIcon="tune-vertical" /><span matListItemTitle> Equalizer</span></mat-list-item
      >
      <mat-list-item (click)="navigateTo('/player/library')"
        ><mat-icon matListItemIcon svgIcon="music-box-multiple-outline" /><span matListItemTitle> Library</span></mat-list-item
      >
      <mat-list-item (click)="navigateTo('/settings')">
        <mat-icon matListItemIcon svgIcon="cog-outline" /><span matListItemTitle> Settings</span></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: hidden" class="sidenav-content">
    <mat-toolbar class="header">
      @if (isHandset()) {
        <button
          id="sidenav_menu_button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          style="margin-right: 0.7rem; padding: 6px"
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon" style="--mdc-icon-button-icon-size: 28px; width: 28px; height: 28px" svgIcon="logo"></mat-icon>
        </button>
      }
      <span class="title">{{ titleService.title() }}</span>
      @if (loaderService.isLoading()) {
        <mat-spinner style="margin-left: 1rem" color="accent" diameter="32" strokeWidth="6" />
      }
    </mat-toolbar>

    <div class="router-outlet main"><router-outlet></router-outlet></div>

    <player-toolbar class="toolbar" />

    <mtb-file-drop-overlay [allowedTypes]="ALLOWED_TYPES" (filesDroped)="onFilesDropped($event)" (fileHandlesDropped)="onFileHandlesDropped($event)" />
  </mat-sidenav-content>
</mat-sidenav-container>
