.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-outlet {
  width: 100%;
  height: calc(100% - 64px);
  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
}

.title {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 2.5rem;
}
