<div class="flex row">
  <h2 matDialogTitle>Tastenkürzel</h2>
  <span class="flex-grow"></span>
  <button mat-icon-button (click)="close()"><mat-icon svgIcon="close-thick"></mat-icon></button>
</div>

<mat-dialog-content>
  <p *ngIf="hotkeyList.length === 0">Auf dieser Seite stehen keine Tastenkürzel zur verfügung.</p>
  <mat-list>
    <mat-list-item *ngFor="let hotkey of hotkeyList">
      <div class="keyboard-key">
        {{
          hotkey[0]
            .toString()
            .substr(0, hotkey[0].length - 2)
            .toUpperCase()
        }}
      </div>
      &nbsp;&nbsp;+&nbsp;
      <div class="keyboard-key">
        {{
          hotkey[0]
            .toString()
            .substr(hotkey[0].length - 1, 1)
            .toUpperCase()
        }}
      </div>
      <p style="margin-left: 16px">{{ hotkey[1].description }}</p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
