<div class="flex row">
  <h2 matDialogTitle>Tastenkürzel</h2>
  <span class="flex-grow"></span>
  <button mat-icon-button (click)="close()"><mat-icon svgIcon="close-thick"></mat-icon></button>
</div>

<mat-dialog-content>
  @for (hotkey of hotkeyList; track hotkey[0]) {
    <div matListItemLine class="flex row align-center">
      <div class="keyboard-key">
        {{
          hotkey[0]
            .toString()
            .substr(0, hotkey[0].length - 2)
            .toUpperCase()
        }}
      </div>
      <div style="font-size: 2em; padding: 14px">+</div>
      <div class="keyboard-key" style="padding-left: 12px; padding-right: 12px">
        {{
          hotkey[0]
            .toString()
            .substr(hotkey[0].length - 1, 1)
            .toUpperCase()
        }}
      </div>
      <p style="margin-left: 16px">{{ hotkey[1].description }}</p>
    </div>
  } @empty {
    <p>Es sind keine Tastenkürzel definiert.</p>
  }
</mat-dialog-content>
