{
  "extends": ["stylelint-config-recommended-scss",  "stylelint-config-prettier"],
  "rules": {
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ]
  }
}
