.visuals-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;

  @media (width <= 899px) {
    grid-template-columns: 50% 50%;
  }
}

.visuals-slide-panel {
  z-index: 9;
  box-sizing: border-box;
  max-height: 100%;

  //overflow: auto;
}

.slider-label {
  margin: 4px 2px;
}
