.visuals-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;

  @media (width <= 899px) {
    grid-template-columns: 50% 50%;
  }
}

.visuals-slide-panel {
  z-index: 9;
  box-sizing: border-box;
  max-height: 100%;
}

.slider-label {
  margin: 4px 2px;
}

.visualizer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.visualizer-canvas {
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.visualizer-title {
  padding: 16px 0;
}

.visualizer-toggle-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
}
