@import 'variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Selection
::selection {
  background-color: $accent-color;
  color: black;
}

::-moz-selection {
  background-color: $accent-color;
  color: black;
}

// Scrollbar START
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border: 0 none #000000;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 0 none;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:active {
  background: $primary-color;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
// Scrollbar END

@media (max-width: 599px) {
  .no-mobile {
    display: none !important;
  }
}

.white {
  color: white !important;
  fill: white !important;
}

// TODO: sollte component style sein
.volume-menu {
  min-width: unset !important;
  background-color: black;
}
