<div style="padding-bottom: 1rem; height: 100%; box-sizing: border-box">
  <div class="flex row" style="overflow-x: scroll; padding: 24px; height: 40%">
    @for (band of BANDS; track band; let i = $index) {
      <div class="vertical-slider-container">
        <div class="flex row justify-center vertical-slider">
          <div class="vertical-slider-label">{{ band | band }}</div>
          <mat-slider discrete min="-12" max="12" step="0.01" [displayWith]="displayFunction"
            ><input
              #thumb="matSliderThumb"
              matSliderThumb
              [value]="audioService.getFrequencyBandGainSignal(band)()"
              (input)="audioService.setFrequencyBandGain(band, thumb.value)"
          /></mat-slider>
        </div>
      </div>
    }

    <div class="vertical-slider-container">
      <div class="flex row justify-center vertical-slider">
        <div class="vertical-slider-label" style="font-weight: bold">GAIN</div>
        <mat-slider discrete min="0" max="2" step="0.01" [displayWith]="displayFunction"
          ><input #gainThumb="matSliderThumb" matSliderThumb [value]="audioService.baseGain()" (input)="audioService.setBaseGain(gainThumb.value)"
        /></mat-slider>
      </div>
    </div>
  </div>
</div>
