<div style="padding-bottom: 1rem; height: 100%; box-sizing: border-box">
  <div class="flex row" style="overflow-x: scroll; padding-bottom: 24px; height: 40%">
    <div *ngFor="let band of BANDS; trackBy: bandTrackFunction" class="flex column justify-center" style="min-height: 12rem">
      <mat-slider
        vertical
        [displayWith]="displayFunction"
        style="height: 90%; padding: 0 6px"
        [value]="getBandGain(band)"
        (input)="onGainChange($event, band)"
        min="-12"
        max="12"
        step="0.01"
        thumbLabel
        tickInterval="3"
      ></mat-slider>
      <span style="font-size: smaller; text-align: center; width: 100%">{{ band | band }}</span>
    </div>
    <div class="flex column justify-center" style="min-height: 12rem">
      <mat-slider
        vertical
        [displayWith]="displayFunction"
        style="height: 90%; padding: 0 6px"
        [value]="getBaseGain()"
        (input)="onBaseGainChange($event)"
        min="0"
        max="2"
        step="0.01"
        thumbLabel
      ></mat-slider>
      <span style="font-size: smaller; text-align: center; width: 100%">GAIN</span>
    </div>
  </div>
</div>
