:host {
  display: block;
  padding: 2rem 1rem;
}

::ng-deep .vertical-slider-container {
  min-height: 12rem;
  width: 64px;

  .vertical-slider {
    transform: rotate(270deg);
    transform-origin: 100% 100%;

    .mdc-slider__value-indicator-text {
      transform: rotate(90deg);
      display: inline-block;
    }

    .vertical-slider-label {
      padding-top: 24px;
      font-size: smaller;
      text-align: center;
      width: 100%;
      transform: rotate(90deg);
    }
  }
}
