@use '@angular/material' as mat;

:host {
  height: 100%;
  background-color: var(--theme-primary-50);
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    'status status'
    'artists tracks'
    'albums tracks'
    'searchinput searchinput';

  @include mat.list-overrides(
    (
      list-item-one-line-container-height: 32px
    )
  );
}

.searchbox {
  background-color: var(--mat-sys-background);
  overflow-y: auto;
}

.status {
  grid-area: status;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.searchinput {
  grid-area: searchinput;
}

.artists {
  grid-area: artists;
}

.albums {
  grid-area: albums;
}

.tracks {
  grid-area: tracks;
}

.virtual-scroll-viewport {
  height: 100%;
}
