@use '@angular/material' as mat;

:host {
  @include mat.list-overrides(
    (
      list-item-one-line-container-height: 32px
    )
  );

  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 0;
  grid-template-areas:
    'searchinput searchinput'
    'artists tracks'
    'albums tracks';
}

.searchbox {
  overflow-y: auto;
  border: 1px solid lightgrey;
}

.searchinput {
  grid-area: searchinput;
}

.artists {
  grid-area: artists;
}

.albums {
  grid-area: albums;
}

.tracks {
  grid-area: tracks;
}

.virtual-scroll-viewport {
  height: 100%;
}
