@use 'pkg:@angular/material' as mat;

:host {
  height: 100%;
  background-color: var(--theme-primary-50);
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    'artists tracks'
    'albums tracks'
    'searchinput searchinput';

  @include mat.list-overrides(
    (
      list-item-one-line-container-height: 32px
    )
  );
}

.searchbox {
  background-color: var(--mat-sys-background);
  overflow-y: auto;
}

.searchinput {
  grid-area: searchinput;
  width: 100%;
}

.artists {
  grid-area: artists;
}

.albums {
  grid-area: albums;
}

.tracks {
  grid-area: tracks;
}

.virtual-scroll-viewport {
  height: 100%;
}

.library-item-avatar {
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  width: 28px;
  height: 28px;
}

.library-item-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
