@let currentTrack = playerService.currentlyLoadedTrack();
@let cover = coverUrl();
<div class="mat-typography metadata-overlay">
  <h1 class="track-title">
    {{ currentTrack?.metadata?.title || currentTrack?.file?.name }}
  </h1>
  <p class="track-artist">{{ currentTrack?.metadata?.artist }}</p>
  <div class="flex column metadata-info">
    @if (currentTrack?.metadata?.album) {
      <span>
        Album: <strong>{{ currentTrack?.metadata?.album }}</strong>
      </span>
    }
    @if (currentTrack?.metadata?.year) {
      <span>
        Year: <strong>{{ currentTrack?.metadata?.year }}</strong>
      </span>
    }
    <span>&nbsp;</span>
    @if (currentTrack?.metadata?.format?.duration) {
      <span>
        Duration: <strong>{{ currentTrack?.metadata?.format?.duration | time }}</strong>
      </span>
    }
    @if (currentTrack?.metadata?.format?.container && currentTrack?.metadata?.format?.codec) {
      <span>
        Format: <strong>{{ currentTrack?.metadata?.format?.container }} ({{ currentTrack?.metadata?.format?.codec }})</strong>
      </span>
    }
    @if (currentTrack?.metadata?.format?.bitrate) {
      <span>
        Bitrate: <strong>{{ currentTrack?.metadata?.format?.bitrate | bitrate }}</strong>
      </span>
    }
    @if (currentTrack?.metadata?.format?.sampleRate) {
      <span>
        Sample-Rate: <strong>{{ currentTrack?.metadata?.format?.sampleRate }}</strong>
      </span>
    }

    @if (currentTrack?.metadata?.coverColors) {
      <span>&nbsp;</span>
      <span>Color Palette:</span>
      <div class="flex row color-palette-container">
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.vibrant?.hex"
          [title]="`vibrant: ${currentTrack?.metadata?.coverColors?.vibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.darkVibrant?.hex"
          [title]="`darkVibrant: ${currentTrack?.metadata?.coverColors?.darkVibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.lightVibrant?.hex"
          [title]="`lightVibrant: ${currentTrack?.metadata?.coverColors?.lightVibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.muted?.hex"
          [title]="`muted: ${currentTrack?.metadata?.coverColors?.muted?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.darkMuted?.hex"
          [title]="`darkMuted: ${currentTrack?.metadata?.coverColors?.darkMuted?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="currentTrack?.metadata?.coverColors?.lightMuted?.hex"
          [title]="`lightMuted: ${currentTrack?.metadata?.coverColors?.lightMuted?.hex}`"
        ></div>
      </div>
    }
  </div>
</div>
@if (currentTrack && cover) {
  <div class="cover-img" [style.background-image]="`url(${cover})`" [style.background-color]="backgroundColor()"></div>
}
<mtb-visualizer class="visualizer" />
