@let currentTrack = playerService.currentlyLoadedTrack();
@let metadata = currentTrack?.metadata;
@let cover = coverUrl();
@let format = metadata?.format;
@let coverColors = metadata?.coverColors;
<div class="mat-typography metadata-overlay">
  <h1 class="track-title">
    {{ metadata?.title || currentTrack?.file?.name }}
  </h1>
  <p class="track-artist">{{ metadata?.artist }}</p>
  <div class="flex column metadata-info">
    @if (metadata?.album) {
      <span>
        Album: <strong>{{ metadata.album }}</strong>
      </span>
    }
    @if (metadata?.year) {
      <span>
        Year: <strong>{{ metadata.year }}</strong>
      </span>
    }
    <span>&nbsp;</span>
    @if (format?.duration) {
      <span>
        Duration:
        <strong>{{ format.duration | time }}</strong>
      </span>
    }
    @if (format?.container && format?.codec) {
      <span>
        Format:
        <strong>{{ format.container }} ({{ format.codec }})</strong>
      </span>
    }
    @if (format?.bitrate) {
      <span>
        Bitrate:
        <strong>{{ format.bitrate | bitrate }}</strong>
      </span>
    }
    @if (format?.sampleRate) {
      <span>
        Sample-Rate:
        <strong>{{ format.sampleRate }}</strong>
      </span>
    }

    @if (coverColors) {
      <span>&nbsp;</span>
      <span>Color Palette:</span>
      <div class="flex row color-palette-container">
        <div
          class="color-swatch"
          [style.background-color]="coverColors.vibrant?.hex"
          [title]="`vibrant: ${coverColors.vibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="coverColors.darkVibrant?.hex"
          [title]="`darkVibrant: ${coverColors.darkVibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="coverColors.lightVibrant?.hex"
          [title]="`lightVibrant: ${coverColors.lightVibrant?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="coverColors.muted?.hex"
          [title]="`muted: ${coverColors.muted?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="coverColors.darkMuted?.hex"
          [title]="`darkMuted: ${coverColors.darkMuted?.hex}`"
        ></div>
        <div
          class="color-swatch"
          [style.background-color]="coverColors.lightMuted?.hex"
          [title]="`lightMuted: ${coverColors.lightMuted?.hex}`"
        ></div>
      </div>
    }
  </div>
</div>
@if (currentTrack && cover) {
  <div
    class="cover-img"
    [style.background-image]="`url(${cover})`"
    [style.background-color]="backgroundColor()"
  ></div>
}
<mtb-visualizer class="visualizer" />
