<mtb-playlist class="playlist mat-elevation-z6">
  @if (isPlaylistEmpty) {
    <button style="width: 100%; text-transform: uppercase" mat-button color="accent" (click)="onReload()">
      <mat-icon svgIcon="reload"></mat-icon> Reload last directory
    </button>
  }
</mtb-playlist>

<mtb-cover-display [track]="playingTrack$ | async" class="main">
  <mtb-visualizer class="visualizer" [track]="playingTrack$ | async"></mtb-visualizer>
</mtb-cover-display>

<mat-toolbar color="primary" class="bar flex row justify-center">
  <button mat-icon-button (click)="playPause()">
    @if (playing) {
      <mat-icon matTooltip="Pause" svgIcon="pause"></mat-icon>
    } @else {
      <mat-icon matTooltip="Play" svgIcon="play"></mat-icon>
    }
  </button>

  <button mat-icon-button (click)="stop()">
    <mat-icon matTooltip="Stop" svgIcon="stop"></mat-icon>
  </button>

  <button class="no-mobile" mat-icon-button (click)="previous()">
    <mat-icon matTooltip="Previous" svgIcon="skip-previous"></mat-icon>
  </button>
  <button class="no-mobile" mat-icon-button (click)="next()">
    <mat-icon matTooltip="Next" svgIcon="skip-next"></mat-icon>
  </button>

  <button mat-icon-button id="load_files" (click)="showPicker()">
    <mat-icon matTooltip="Load folder/files..." svgIcon="folder-music-outline"></mat-icon>
  </button>
  <!-- TODO: The 'tickInterval' property no longer exists -->
  @if (playingTrack$ | async) {
    <mat-slider class="flex-grow" min="0" [max]="durationSeconds" step="1" discrete color="accent" [displayWith]="formatLabel"
      ><input
        matSliderThumb
        [value]="position"
        (input)="pauseSliderPositionUpdate()"
        (valueChange)="onSliderPositionChanged(ngSliderThumb.value)"
        #ngSliderThumb="matSliderThumb"
    /></mat-slider>
  } @else {
    <div class="flex-grow"></div>
  }

  <div class="no-mobile" style="font-size: small; padding: 0 12px">
    <p>{{ position | time }} / {{ durationSeconds | time }}</p>
  </div>

  <button mat-icon-button id="volume_button" [matMenuTriggerFor]="volumeMenu">
    <mat-icon [matTooltip]="'Volume: ' + (volume * 100).toFixed(0)" [svgIcon]="volumeIcon"></mat-icon>
  </button>
  <button mat-icon-button [ngClass]="{ 'disabled-color': !shuffle }" (click)="toggleShuffle()">
    <mat-icon [matTooltip]="shuffle ? 'Shuffle on' : 'Shuffle off'" svgIcon="shuffle-variant"></mat-icon>
  </button>
  <button mat-icon-button [ngClass]="{ 'disabled-color': repeat === 'off' }" (click)="toggleRepeat()">
    @switch (repeat) {
      @case ('off') {
        <mat-icon matTooltip="Repeat off" svgIcon="repeat-off"></mat-icon>
      }
      @case ('all') {
        <mat-icon matTooltip="Repeat all" svgIcon="repeat"></mat-icon>
      }
      @case ('one') {
        <mat-icon matTooltip="Repeat one" svgIcon="repeat-once"></mat-icon>
      }
    }
  </button>
</mat-toolbar>

<mat-menu #volumeMenu="matMenu" [class]="'volume-menu'" yPosition="above">
  <div class="vertical-slider-container">
    <div class="vertical-slider">
      <mat-slider style="width: 9rem" id="volume_slider" min="0" max="1" step="0.01"
        ><input #volumeSlider="matSliderThumb" matSliderThumb [value]="volume" (input)="onVolumeChange(volumeSlider.value)"
      /></mat-slider>
    </div>
  </div>
</mat-menu>

<mtb-file-drop-overlay [allowedTypes]="allowedTypes" (filesDroped)="onFilesDropped($event)"></mtb-file-drop-overlay>
