<mtb-playlist class="playlist mat-elevation-z6"
  ><button style="width: 100%; text-transform: uppercase" mat-button color="accent" *ngIf="isPlaylistEmpty" (click)="onReload()">
    <mat-icon svgIcon="reload"></mat-icon> Reload last directory
  </button>
</mtb-playlist>

<mtb-cover-display [track]="playingTrack$ | async" class="main">
  <mtb-visualizer class="visualizer" [track]="playingTrack$ | async"></mtb-visualizer>
</mtb-cover-display>

<mat-toolbar color="primary" class="bar flex row justify-center">
  <button mat-icon-button (click)="playPause()">
    <mat-icon matTooltip="Pause" *ngIf="playing" svgIcon="pause"></mat-icon>
    <mat-icon matTooltip="Play" *ngIf="!playing" svgIcon="play"></mat-icon>
  </button>

  <button mat-icon-button (click)="stop()">
    <mat-icon matTooltip="Stop" svgIcon="stop"></mat-icon>
  </button>

  <button class="no-mobile" mat-icon-button (click)="previous()">
    <mat-icon matTooltip="Previous" svgIcon="skip-previous"></mat-icon>
  </button>
  <button class="no-mobile" mat-icon-button (click)="next()">
    <mat-icon matTooltip="Next" svgIcon="skip-next"></mat-icon>
  </button>

  <button mat-icon-button id="load_files" (click)="showPicker()">
    <mat-icon matTooltip="Load folder/files..." svgIcon="folder-music-outline"></mat-icon>
  </button>
  <div class="flex-grow" *ngIf="(playingTrack$ | async) === undefined"></div>

  <!-- TODO: The 'tickInterval' property no longer exists -->
  <mat-slider class="flex-grow" *ngIf="playingTrack$" min="0" [max]="durationSeconds" step="1" thumbLabel color="accent" [displayWith]="formatLabel" #ngSlider
    ><input
      matSliderThumb
      [value]="position"
      (input)="onSliderPositionChanged({ source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value })"
      #ngSliderThumb="matSliderThumb"
  /></mat-slider>

  <div class="no-mobile" style="font-size: small; padding: 0 12px">
    <p>{{ position | time }} / {{ durationSeconds | time }}</p>
  </div>

  <button mat-icon-button id="volume_button" [matMenuTriggerFor]="volumeMenu">
    <mat-icon [matTooltip]="'Volume: ' + (volume * 100).toFixed(0)" [svgIcon]="volumeIcon"></mat-icon>
  </button>
  <button mat-icon-button [ngClass]="{ 'disabled-color': !shuffle }" (click)="toggleShuffle()">
    <mat-icon [matTooltip]="shuffle ? 'Shuffle on' : 'Shuffle off'" svgIcon="shuffle-variant"></mat-icon>
  </button>
  <button mat-icon-button [ngClass]="{ 'disabled-color': repeat === 'off' }" (click)="toggleRepeat()" [ngSwitch]="repeat">
    <mat-icon matTooltip="Repeat off" *ngSwitchCase="'off'" svgIcon="repeat-off"></mat-icon>
    <mat-icon matTooltip="Repeat all" *ngSwitchCase="'all'" svgIcon="repeat"></mat-icon>
    <mat-icon matTooltip="Repeat one" *ngSwitchCase="'one'" svgIcon="repeat-once"></mat-icon>
  </button>
</mat-toolbar>

<mat-menu #volumeMenu="matMenu" [class]="'volume-menu'" yPosition="above">
  <div class="vertical-slider-container">
    <div class="vertical-slider">
      <mat-slider style="width: 9rem" id="volume_slider" min="0" max="1" step="0.01" #ngSlider
        ><input
          matSliderThumb
          [value]="volume"
          (input)="onVolumeChange({ source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value })"
          #ngSliderThumb="matSliderThumb"
      /></mat-slider>
    </div>
  </div>
</mat-menu>

<mtb-file-drop-overlay [allowedTypes]="allowedTypes" (filesDroped)="onFilesDropped($event)"></mtb-file-drop-overlay>
