<mat-card>
  <mat-card-title>Theme-Colors</mat-card-title>
  <!--   TODO: dynisches theme toggle-->
  <mat-card-content fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1.5rem" style="min-height: 48px;">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <span>Primary:&nbsp;</span>
      <mcc-color-picker
        [overlay]="true"
        [hideButtons]="true"
        [hideEmptyUsedColors]="true"
        [hideTransparentUsedColors]="true"
        usedColorLabel="Suggestions:"
        [usedColorStart]="colorSuggestions"
        (clickOut)="colorPickerClosed($event)"
        [selectedColor]="themeService.primaryColor"
        (change)="setPrimaryColor($event)"
      ></mcc-color-picker>

      <span>Accent:&nbsp;</span>
      <mcc-color-picker
        [overlay]="true"
        [hideButtons]="true"
        [hideEmptyUsedColors]="true"
        [hideTransparentUsedColors]="true"
        usedColorLabel="Suggestions:"
        [usedColorStart]="colorSuggestions"
        (clickOut)="colorPickerClosed($event)"
        [selectedColor]="themeService.accentColor"
        colorPickerSelectorHeight="500"
        (change)="setAccentColor($event)"
      ></mcc-color-picker>
    </div>
    <mat-checkbox labelPosition="before" [checked]="themeService.darkMode" (change)="changeDarkMode($event)">
      Dark Mode
    </mat-checkbox>
  </mat-card-content>
</mat-card>
