html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif;
  overscroll-behavior: none;
  user-select: none;
}

.accent-font {
  font-family: 'Permanent Marker', cursive;
}

// Selection
::selection {
  background-color: var(--theme-accent-500);
  color: black;
}

::selection {
  background-color: var(--theme-accent-500);
  color: black;
}

// Scrollbar START
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-accent-500);
  border: 0 none #000;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 0 none;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:active {
  background: var(--theme-accent-500);
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(0 0 0 / 20%);
}

// Scrollbar END

@media (max-width: 599px) {
  .no-mobile {
    display: none !important;
  }
}

.white {
  color: white !important;
  fill: white !important;
}

// TODO: sollte component style sein
.volume-menu {
  min-width: unset !important;
  background-color: var(--theme-accent-500);
}

.mat-tooltip {
  font-size: 13px;
}

.flex {
  display: flex !important;
  box-sizing: border-box;

  &.row {
    flex-direction: row;
    &.gap-1 > *:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  &.column {
    flex-direction: column;
    &.gap-1 > *:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &.align-space-between {
    align-content: space-between;
  }

  &.align-center {
    align-content: center;
  }

  &.justify-center {
    justify-content: center;
    justify-items: center;
  }
}

.flex-grow {
  box-sizing: border-box;
  flex: 1 1 0%;
}
