// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors' as tc;

:root {
  @include mat.theme(
    (
      color: (
        primary: tc.$primary-palette,
        tertiary: tc.$tertiary-palette,
        theme-type: color-scheme,
        use-system-variables: true
      ),
      typography: (
        brand-family: 'Permanent Marker',
        plain-family: 'Roboto Condensed',
        regular-weight: 300,
        medium-weight: 400,
        bold-weight: 500,
        use-system-variables: true
      ),
      density: 0
    )
  );

  @include mat.theme-overrides(
    (
      background: light-dark(white, #303030),
      surface: var(--theme-primary-50),
      surface-container-low: var(--theme-primary-50),
      on-surface: white
    )
  );

  @include mat.system-level-shape(
    (
      'corner-extra-small': 2px,
      'corner-small': 3px,
      'corner-medium': 4px,
      'corner-large': 8px,
      'corner-extra-large': 16px,
      'corner-full': 28px
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-elevation: 12
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--theme-primary-50),
      container-text-color: white
    )
  );

  @include mat.slider-overrides(
    (
      handle-color: var(--theme-accent-50),
      focus-handle-color: var(--theme-accent-50),
      active-track-color: var(--theme-accent-40),
      inactive-track-color: var(--theme-primary-0),
      label-container-color: var(--theme-primary-70),
      label-label-text-color: var(--theme-accent-50)
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--theme-accent-50)
    )
  );

  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--theme-accent-50),
      track-color: var(--theme-primary-70)
    )
  );
}

html {
  color-scheme: var(--app-color-scheme, light dark);

  $primary-color: var(--theme-primary-50);
  $accent-color: var(--theme-accent-50);

  .primary-color {
    color: $primary-color !important;
    fill: $primary-color !important;
  }

  .accent-color {
    color: $accent-color !important;
    fill: $accent-color !important;
  }

  // TODO: disabled color
  .disabled-color {
    color: grey !important;
    fill: grey !important;
  }
}
