name: Build Pipeline

permissions:
  contents: read

on:
  push:
    branches: [main]
    tags-ignore:
      - '**'
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    # Skip if triggered by a release commit
    if: ${{ !startsWith(github.event.head_commit.message, 'chore(release)') }}
    uses: ./.github/workflows/ci.yml
    secrets:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
