# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy Pipeline

permissions:
  contents: read

on:
  release:
    types: [created]

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: 'pnpm'
      - name: Cache Cypress Binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            cypress-${{ runner.os }}-
      - name: Install dependencies
        run: pnpm install
        env:
          CI: true
      - name: Build
        run: pnpm run ci:build
        env:
          CI: true
      - name: Cypress E2E Tests
        run: pnpm run ci:e2e
        env:
          CI: true
      - name: Jest-Tests
        run: pnpm run test:all
        env:
          CI: true
      - name: Deploy
        uses: w9jds/firebase-action@v14.27.0
        with:
          args: deploy --project gblaster-player --only hosting
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GBLASTER_PLAYER}}
