name: Deploy Pipeline

permissions:
  contents: read

on:
  release:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  ci:
    name: CI & Deploy
    uses: ./.github/workflows/ci.yml
    with:
      deploy: true
    secrets:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
      FIREBASE_SERVICE_ACCOUNT_GBLASTER_PLAYER: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GBLASTER_PLAYER }}
